*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 18px;
  line-height: 1.618;
  font-family: sans-serif;
  color: #444;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

fieldset,
button {
  border: 0;
}

/* layout of login section provided */
.login {
  min-width: 500px;
  height: 100%;
  padding: 65px;
  margin: 50px;
}


/* layout of call-to-action section provided */
.call-to-action {
  width: calc(100% - 500px);
  height: 100%;
  background: rgb(24, 48, 89);
  color: white;
  padding: 200px 300px;
}

.topP {
  width: 500px;
  font-size: 50px;
  font-weight: bold;
}

.bottomP {
  padding-top: 20px;
  width: 350px;
  font-size: 17px;
}

h1 { 
  padding-top: 50px;
}

.active {
  font-size: 30px;
  color: black;
  font-weight: bold;
  padding-top: 50px;
  background-color: white;
}

.in-active {
  font-size: 15px;
  color: black;
  opacity: 0.5;
  background-color: white;
  padding-left: 10px;
  cursor: pointer;
}

.emailField {
  border: 1.5px solid black;
  height: 30px;
  border-radius: 5px;
  opacity: .4;
  width: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.passwordField {
  border: 1.5px solid black;
  height: 30px;
  border-radius: 5px;
  opacity: .4;
  width: 200px;
  margin-bottom: 10px;
}

.passwordReset {
  color: black;
  opacity: .4;
}

.btn-primary {
  background-color: rgb(0, 223, 0);
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 40px;
  cursor: pointer;
}

.feature-list {
  list-style: none;
  color: rgba(0, 0, 0, 0.4);
}